*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 
    "header header"
    "aside  main"
    "aside  main"
    "aside  main"
    ;
}
header.cabecalho{
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
header.cabecalho div.icones{
    display: flex;
    align-items: center;
    padding-top: 5px;
    gap: 25px;
    padding: 5px 20px
}
aside.slide-bar{
    grid-area: aside;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
aside.slide-bar div{
    display: flex;
    align-items: center;
    gap: 15px;
}
main.conteudo-principal{
    grid-area: main;
    padding: 10px;
    margin-top:30px ;
}
main.conteudo-principal{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*Calcular a coluna e largura*/
    grid-template-rows: repeat(3, 1fr); /*Calcular a linha com altura*/
}

